* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Cabinet Grotesk", sans-serif; */
  font-family: "Clash Display", sans-serif;
  /* font-family: "Satoshi", sans-serif; */

  background: #f8f7f7;
}

#main_container {
  overflow: hidden;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 20px 28px;
  border-radius: 40px;
  margin: 48px 72px;
  align-items: center;
}

.navbar_container h3 {
  font-weight: 500;
  font-size: 20px;
  color: #4757e5;
}

.navbar_menu {
  display: flex;
  gap: 50px;
}

.light_dark {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero_container {
  margin: 0 72px;
  padding-top: 105px;
}

.hero_container h3 {
  color: #858585;
  font-weight: 500;
  font-size: 36px;
}

.hero_container h1 {
  font-weight: 800;
  font-size: 120px;
  /* font-size: calc(100vw / 1440) * 16; */
}

.hero_container p {
  color: #494949;
  font-size: 20px;
  font-weight: 500;
}

.hero_container button {
  background: #4757e5;
  color: #fff;
  border: 0;
  font-size: 24px;
  /* font-family: "Cabinet Grotesk", sans-serif; */
  font-family: "Clash Display", sans-serif;
  /* font-family: "Satoshi", sans-serif; */

  padding: 15px;
  margin-top: 42px;
  border-radius: 44px;
  cursor: pointer;
}

.about_container {
  display: flex;
  height: 100vh;
  margin: 85px 72px 0;
  gap: 20px;
}

.about_container .white {
  width: 60%;
  background: #fff;
  height: 100%;
  border-radius: 24px;
  font-size: 36px;
  font-weight: 500;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_container .black {
  width: 40%;
  background: #201610;
  color: #fff;
  height: 100%;
  border-radius: 24px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_container .black div {
  padding-top: 30px;
}

.about_container .black div h3 {
  font-size: 40px;
  font-weight: 600;
}

.about_container .black div p {
  font-size: 24px;
  font-weight: 500;
}

.about_container .black div:last-of-type {
  padding-bottom: 30px;
}

/* .container {
  height: 400px;
} */

.parallax_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax_item {
  font-size: 150px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.projects_container {
  /* & .hr {
    width: 100%;
    height: 3px;
    background: #3e3b36;
  }

  & .project_details {
    padding: 30px 72px;
    display: flex;
    justify-content: space-between;

    /* & .project_title {

    } 

    & .project_image_container {
      width: 400px;
      height: 400px;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & .project_text {
      width: 20%;
      & p {
      }
    }
  } */
  /* padding-top: 300px; */
}

.projects_container .project_details {
  background: #fff;
  width: 60%;
  padding: 30px;
  margin: 0 auto;
  border-radius: 36px;
  margin-top: 50px;
}

.project_details .project_top {
  display: flex;
  justify-content: space-between;
}

.project_top .project_title {
  width: 200px;
}

.project_title h3 {
  font-weight: 500;
}

.project_top .project_text {
  display: flex;
  width: 400px;
  gap: 10px;

  /* & p {
    width: 50%;
  } */
}

.project_text img {
  width: 50px;
  height: 50px;
}

.project_details .project_image_container {
  width: 100%;
  height: 400px;
  padding-top: 20px;
}

.project_image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.footer_container {
  padding: 30px 72px;
}

.footer_container .footer_wrapper {
  padding-top: 50px;
}

.footer_wrapper .footer_content {
  text-align: center;
}

.footer_content h1 {
  font-size: 64px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 600;
}

.footer_content p {
  font-size: 24px;
}

.footer_content button {
  margin-inline: auto;
  display: flex;
  gap: 10px;
  border: none;
  background: #f8f7f7;
  align-items: center;
  border: 3px solid black;
  padding: 10px 30px;
  border-radius: 65px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.footer_content button p {
  font-size: 20px;
  /* font-family: "Cabinet Grotesk", sans-serif; */
  font-family: "Clash Display", sans-serif;
  /* font-family: "Satoshi", sans-serif; */
}

.footer_content button img {
  height: 40px;
  width: 40px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.footer_wrapper .hr {
  width: 100%;
  height: 1px;

  background: #8b624733;
}

.smooth-scroll {
  overflow-y: hidden !important;
}
/* 
.multi_wrapper {
  background: #000;
  width: 100%;
  height: 500px;
}

.multi {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grp {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.white_circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  z-index: 5;
}

.green_line {
  width: 550px;
  height: 5px;
  background-color: cadetblue;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.green_line_2 {
  height: 5px;
  width: 550px;
  background-color: cadetblue;
  position: absolute;
  top: 50%;
  z-index: 1;
} */
